/border-router/build/
/border-router/Makefile

/F1_Application_Controller/.idea/
/F1_Application_Controller/.gitignore
/F1_Application_Controller/build/

/mqtt-sensor-temp-tyrewarmer/build/
/mqtt-sensor-temp-tyrewarmer/Makefile

/coap-actuator-engage-tyrewarmer/build/
/coap-actuator-engage-tyrewarmer/Makefile

/run/