!/border-router/border-router.c
!/border-router/deploy
!/border-router/project-conf.h
!/border-router/sky/
!/border-router/webserver/

!/Java-F1-Temperature-Tyres/pom.xml
!/Java-F1-Temperature-Tyres/src/main/java/it/unipi/iot/f1TempTyres/

!/mqtt-sensor-temp-tyrewarmer/tyre-sensor-mqtt.c
!/mqtt-sensor-temp-tyrewarmer/tyre-sensor-mqtt.h
!/mqtt-sensor-temp-tyrewarmer/project-conf.c

!/coap-actuator-engage-tyrewarmer/tyre-actuator-coap.c
!/coap-actuator-engage-tyrewarmer/project-conf.h
!/coap-actuator-engage-tyrewarmer/resources/

*